/* SliderCustomStyles.css */

/* Custom styles for the dots */

  
  button.slick-arrow:nth-child(3) {
    display: none !important;
    }

    /* ul li button {
      display: none !important;
      } */

      .slick-dots li button::before {
        font-size: 15px !important;
        color: #084943 !important;
        margin-top: 50px;
        }

      